@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.125rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: rgb(82, 82, 82);
}
